.display-4 {
  margin-bottom: 50px;
  font-weight: bold;
  color: purple;
  text-shadow: 3px 3px black;
  font-family: Arial;
  font-stretch: expanded;
}

.lead {
  margin-bottom: 50px;
  font-weight: bold;
  text-shadow: 3px 1px purple;
  font-family: Arial;
  font-size: 30px;

}
.jumbotron {
margin-top: 50px;
background-image: url("../img/background.jpg");
background-size: 100%;
width: absolute;
text-align: center;
border-style: ridge;
border-radius: 10px;
border-width: thick;
}

body {
  background-color: lightblue ;
  font-family: arial;
  font-size: 20px;
}

#label {
  font-weight: bold;
  margin-right: 10px;
}

#form {
  padding: 80px;
  border-style: solid;
  border-radius: 10px;
  border-width: thick;
background-color: #ccb3ff;
}

.btn-lg {
  margin-left: 30px;
}

#list {
  display: none;
}
